<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= render 'side', user: @user, book: @book %>
        </div>
        <div class="col-md-8 offset-md-1">
            <h2>User</h2>

            <table>
                <thead>
                    <tr>
                        <th>image</th>
                        <th>name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |users| %>
                        <tr>
                            <th><%= image_tag users.get_profile_image(80, 80) %></th>
                            <th><%= users.name %></th>
                            <th><%= link_to "Show", user_path(users.id) %></th>
                        </tr>
                    <% end %>
                </tbody>
            
            </table>
        </div>
    </div>
</div>